#home {
    position: relative; /* Garante que o pseudo-elemento ::before seja posicionado corretamente */
    min-height: 80vh; /* Altura total da seção, ajuste conforme necessário */
    
}
#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.7), #161616), url('../../images/imgbg3.webp');
    background-position:center;
    background-size: cover; /* ajusta o tamanho da imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* impede a repetição da imagem */
    z-index: -1;
    overflow: hidden;
}
.home {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0px 40px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    align-items: top;
}
.home-content  {
    margin-top: 120px;
    place-self: center;
}
.home-content p {
    margin-top: 20px;
}
.home-content .botao {
    margin-top: 40px;
}
.video-content {
    border-radius: 10px;
    margin-top: 140px;
}

@media (max-width: 1270px) {

    .home h1 {
        font: 700 3rem/ 58px "Poppins", sans-serif;
    }
    .home .video-content {
        max-width: 100%;
    }
    .home p {
        font: 400 24px/36px "Roboto", sans-serif;
    }
   
}

@media (max-width: 1170px) {

    .home h1 {
        font: 700 2.7rem/ 58px "Poppins", sans-serif;
    }
    .home p {
        font: 400 24px/36px "Roboto", sans-serif;
    }
   
}
@media (max-width: 1100px) {
    .home h1 {
        font: 700 2.3rem/ 58px "Poppins", sans-serif;
    }
    .home p {
        font: 400 22px/36px "Roboto", sans-serif;
    }
    .home {
        padding-bottom: 60px;
    }
}

@media (max-width: 1000px) {
    .home {
        grid-template-columns: 1fr;
        max-width: 110ch;
        min-height: 80vh;
        overflow-x: hidden;
    }
    .home h1 {
        font: 700 38px/ 46px "Poppins", sans-serif;
    }
    .home p {
        font: 400 22px/32px "Roboto", sans-serif;
    }
    .video-content {
        margin-top: 80px;
    }
    
   
}

@media (max-width: 870px) {

    
    .home h1 {
        font: 700 36px/ 44px "Poppins", sans-serif;
    }
    .home p {
        font: 400 20px/28px "Roboto", sans-serif;
    }
    .botao {
        font-size: 1rem;
        padding:10px 20px;
    }
   
}

@media (max-width: 770px) {
    .home-content {
      margin-top: 90px;
    }
    #home {
        min-height: 80vh;
    }
    .video-content {
        display: block;
        margin-top: 20px;
    }
    #home::before {      
        background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.6), #141414), url('../../images/imgbg-mobile.webp');
        background-position:center;
        background-size: cover;
    }
    .home h1 {
        font: 700 32px/ 44px "Poppins", sans-serif;
        margin-top: 10px;
    }
    .home p {
        margin-top: 10px;
        font: 400 20px/28px "Roboto", sans-serif;
    }
    .botao {
        font-size: 1rem;
        padding:10px 20px;
    }
   
}

@media (max-width: 500px) {
    .video-content {
        margin-top: 50px;
    }
    .home h1 {
        font-size: 1.9rem;
    }
}