.beneficio {
    padding-top: 40px;
    padding-bottom: 80px;
}
.beneficio-content span {
    font-weight: 700;
}
.beneficio-list {
    margin-top: 40px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content: space-around;
    gap: 40px;   
    padding-bottom: 40px;
    overflow:hidden;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.beneficio-list li {
    flex: 1;
    text-align: center;
    place-self: center;
    min-width: 280px;
} 
.beneficio-content {
    display: grid;
}
.beneficio-content
 .botao {
   margin:0 auto;
}
.beneficio-list li p {
    font-size: 1.3rem;
}
@media (max-width: 850px) {
    .beneficio-content h1 {
        font-size: 1.9rem;
        line-height: 1.3;
    }
 
    .beneficio-list { 
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100%;
        -webkit-overflow-scrolling: touch; 
        scrollbar-width: thin;
        scrollbar-color: var(--point-detail) #faf6ed; 
        scroll-behavior: smooth;
    
    }
    .beneficio-list::-webkit-scrollbar {
        width: 2px;
        height: 10px;
    }
    .beneficio-list::-webkit-scrollbar-thumb {
        background: var(--point-detail);
        border-radius: 3px;
  
    }
    .beneficio-list::-webkit-scrollbar-track {
        background: #faf6ed;
    }
}